.pragmatic_logo {
    font-family: 'Fjalla One', sans-serif;
}

.pragmatic_header {
    text-align: center;
    margin: 2rem 0;
}

.pragmatic_footer {
    text-align: center;
    margin-top: 2rem;
}

.pragmatic_footer_button {
    font-size: .6rem;
}