{% extends 'base.html' %}

{% block content %}
  <div style="text-align: center; max-width: 500px; margin: 4rem auto;">

    <h1>
      {{ target_article.title }}
    </h1>

    {#      <img src="{{ target_article.image.url }}">#}
    <span src="{{ target_article.image }}"></span>

    <div class="text-left">
      {{ target_article.content | safe }}
    </div>

    <a href="{% url 'articleapp:update' pk=target_article.pk %}">
      <p>Update Article</p>
    </a>
    <a href="{% url 'articleapp:delete' pk=target_article.pk %}">
      <p>Delete Article</p>
    </a>

    <hr>

    {% for comment in target_article.comment.all %}
      {% include 'commentapp/detail.html' with comment=comment %}
    {% endfor %}

    {% include 'commentapp/create.html' with article=target_article %}

  </div>
{% endblock %}